#tables {
  margin-top: 15px;
  height: 100vh;
  .customer-table {
    .customer-info-box {
      background-color: #313540;
      .box {
        width: 90%;
        background-color: #3f4553;
        padding: 10px 15px;
        border-radius: 5px;
        margin: auto auto 15px auto;
        .personico {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 5px;
          margin-right: 10px;
          i {
            color: white;
          }
        }
        span {
          color: white;
        }
        p {
          color: rgb(180, 180, 180);
          padding: 0;
          margin: 0;
        }
      }
    }
  }
  .custom-container {
    width: 90%;
    margin: auto;
    .boxico {
      cursor: pointer;
      background-color: #3f4553;
      text-align: center;
      padding: 15px 0px;
      a {
        text-decoration: none;
      }
      i {
        color: #1473c7;
        font-size: 50px;
      }
      h6 {
        color: white;
        margin-top: 10px;
      }
    }
  }
  a{
    text-decoration: none;
    button {
      display: inline-block;
      width: 100%;
      margin: 15px 0px;
      padding: 15px;
      font-weight: 600;
      outline: none;
      border: 1px solid #1473c7;
      background-color: #1473c7;
      color: white;
      border-radius: 3px;
    }
  }
}
