#editform {
  width: 90%;
  margin: auto;
  padding: 20px 0px;
  form {
    label {
      color: white;
    }

    input,
    select {
      width: 100%;
      margin: 8px 0px;
      padding: 10px;
      background-color: transparent;
      border: 1px solid gray;
      border-radius: 3px;
      outline: none;
      color: white;
      transition: 0.2s ease-in-out;

      &::placeholder {
        color: white;
      }

      &:focus {
        border-color: #1473c7;
        box-shadow: 0 0 5px rgba(20, 115, 199, 0.7);
      }
    }

    input[type="date"] {
      color: white;
      background-color: transparent;

      &::-webkit-calendar-picker-indicator {
        filter: invert(1); 
        cursor: pointer;
      }

      &::-webkit-inner-spin-button,
      &::-webkit-clear-button {
        display: none;
      }
    }

    select {
      background-color: #3f4553;
    }

    .onelineinputs {
      display: flex;

      .icon-bg {
        background-color: #1473c7;
        width: 35px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 32px;

        i {
          color: white;
          font-size: 24px;
        }
      }

      .w-70 {
        width: 70%;
      }

      .w-30 {
        width: 30%;
        margin-left: 10px;
        .custom-select {
          position: relative;
          width: 100%;
          cursor: pointer;

          .selected-option {
            margin-top: 7.5px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            display: flex;
            align-items: center;
            color: white;

            img {
              margin-right: 5px;
              width: 20px; // Şəkilin standart eni
              height: 20px; // Şəkilin standart hündürlüyü
              object-fit: cover;
            }
          }

          .options {
            padding: 0px;
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: #3f4553;
            border: 1px solid #ccc;
            border-radius: 5px;
            z-index: 10;
            max-height: 200px;
            overflow-y: auto;

            .option {
              padding: 10px;
              display: flex;
              align-items: center;
              cursor: pointer;
              color: white;

              img {
                margin-right: 5px;
                width: 20px; // Şəkilin standart eni
                height: 20px; // Şəkilin standart hündürlüyü
                object-fit: cover;
              }

              &:hover {
                background-color: #50575e;
              }
            }
          }

          &.open .options {
            display: block;
          }
        }
      }
    }

    button {
      width: 45%;
      margin-top: 10px;
      padding: 10px 0px;
      font-weight: 600;
      outline: none;
      border: 1px solid #1473c7;
      background-color: #1473c7;
      color: white;
      border-radius: 3px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: #105a9c;
      }
    }
  }
}
